 <div id="team" class="clearfix">
        	<div class="container">
                <div class="row">
                	<!--div class="team-slider" data-auto-play="8000"-->
                        <div class="team-inner clearfix">
                            <div class="col-md-5">
                                <div class="team-spacing"></div>
                                <h3 class="small-title">Keith Probert MBA</h3>
                                <p class="team-post">Management Consulting</p>
                                <p>Keith likes to identify with the company, enjoys freedom of speech and democratic relationships, is at his best when free from both control and detail. Works well with, and as, a participative leader, who will consider others and those with whom others can associate. </p>
                                <p>Keith Probert is especially well equipped to make a positive impact on, and contribution to, any organisation in a variety of ways. He will accomplish this by motivating people to act, generating enthusiasm in others, radiating optimism & creating positive attitudes within the work environment.</p>
                                <div class="spacing40"></div>
                                <ul class="team-social">
                                    <li><a href="https://web.facebook.com/keith.probert.18?fref=ts" target="_blank" ><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" target="_blank" ><i class="fa fa-twitter"></i></a></li>                       
                                    <li><a href="https://linkedin.com/in/keithprobert" target="_blank" ><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#" target="_blank" ><i class="fa fa-skype"></i></a></li>
                                </ul>
                                <div class="spacing40 clearboth"></div>
                            </div><!--/.col-md-4-->
                            
                            <div class="col-md-7">

                                <img src="{% static 'images/team/keith.jpg' %}" alt="team">
                                <!--img src="{% static 'images/team/big1.jpg' %}" alt="team"-->
                            </div><!--/.col-md-7-->
                        </div><!--/.team-inner-->
                        
                        <div class="team-inner clearfix">
                          <div class="col-md-7">
                                <img src="{% static 'images/team/izabela.jpg' %}" alt="team">
                            </div><!--/.col-md-7-->
                            <div class="col-md-5">
                                <div class="team-spacing"></div>
                                <h3 class="small-title">Izabela Probert</h3>
                                <p class="team-post">Management Consulting</p>
                                <p>Highly skilled Chartered Global Management Accountant with particular emphasis on outsourcing, shared services, change and transition management, workflows, process reviews and controls, corporate cultural challenges, training.</p>
                                <p>Direct national and international experience within a large number of leading blue-chip organisations on shared service centres, knowledge transfer, communications, programme and project management, finance systems implementations.</p>
                                <p>Interested in organisations requiring support during times of change, transformation and/or re-structuring. Will travel. Interim Services also available in German and Croatian.</p>
                                <div class="spacing40"></div>
                                <ul class="team-social">
                                    <li><a href="https://web.facebook.com/izabelaprobert" target="_blank" ><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"  target="_blank"></i></a></li>
                                    <li><a href="https://linkedin.com/in/izabela01" target="_blank" ><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-skype"  target="_blank"></i></a></li>
                                </ul>
                                <div class="spacing40 clearboth"></div>
                            </div><!--/.col-md-4-->
                        </div><!--/.team-inner-->
                        </div><!--/.team-inner-->
                    
                    <!--/div><!--/.team-slider-->
                </div><!--/.row-->
            </div><!--/.container-->
        </div><!--/team-->