@media(max-width: 2560px){
    .logo{
        padding-left:40%;
    }
    /*
    .change-logo{
        padding-left: 40%;
        height: 105px;
    }

    .navigation li a{
        font-size: 30px;
        lighting-color: 4px;
    }
    */
}


@media(min-width: 1500px) and (max-width: 2560px){
    .logo{
        /*height: 100%*/
    }
    .change-logo{
        padding-left: 40%;
    }

}
@media (min-width: 1280px) and (max-width: 1500px){
    .logo{
        /*padding-left: 100px;*/
        /*padding-left: 40%;*/
    }
     .change-logo{
        padding-left: 0px;
    }
}
/*
@media (max-width: 1024px){
    .logo{
        padding-left: 15%;
    }
    .change-logo{
        padding-left: 0px;
        padding-top: 15px;
        height: auto;
    }
    .team-spacing{
        height: 15px;
    }
    .navigation li a{
        font-size: 13px;
    }
}
*/
@media(min-width: 769px) and (max-width: 1280px){
    .logo{
        padding-left: 35%;
    }

    .change-logo{
        padding-left: 0px;

    }
    .navigation li a{
        font-size: 13px;
    }

    .team-keith{
        text-align: center;
    }
    .change-logo{
        height: 70px;
    }
    .team-keith .cv{
        padding-bottom: 10px;
    }
    .team-izabela{
        text-align: center;
    }
}

@media (max-width: 768px){
    .logo{
        /*padding-left: 50px;*/
        padding-left: 15%;
        width: auto;
    }
    .change-logo{
        /*padding-top: 20px;*/
        /*padding-left: 0px;*/
        height: 70px;
    }
    .shrink .menu-btn{
        color: #3E848E;
    }
    .team-keith{
        text-align: center;
    }
    .team-keith .cv{
        padding-bottom: 10px;
    }
    .team-izabela{
        text-align: center;
    }
    .overlay{
        /*background-size: 768px */
    }
    #works, #services, #works-detail,#team,#clients, #clients-detail, #footer, .shrink{
    border-left-width: 10px;
    border-left-color: transparent;
    border-left-style: solid;
    }

}

@media (min-width: 600px) and (max-width: 700px){
    .overlay{
        background-image: url('../images/overlay/overlay768x505.png');
        width: 100%;
    }
}

@media (min-width: 460px) and (max-width: 600px){
    .overlay{
        background-image: url('../images/overlay/overlaymobileL.png');
        background-size: 100% 100%;
    }
}

@media (max-width: 460px){
    .change-logo{
        padding-left: 0px;
        padding-top: 20px;
        height: 60px;
    }

    .img-bg{
        background-attachment: none;
    }

    .overlay{
        /*background-image: none;*/
            background-image: url('../images/overlay/overlaymobile.png');*/
    }

    .logo{
        /*padding-top: 10px;*/
    }

    .port-item{
        width: 100%;
    }

    .change-logo{
        padding-left: 0px;
        height: 60px;
    }
}
